{%load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}{% endblock %}</title>
    <!-- Bootstrap core CSS -->
    <link href="{% static 'bootstrap/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'jquery.min.js' %}"></script>
    <link href="https://fonts.googleapis.com/css?family=Muli:400,600" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" />

    <style>

        html, body {
        background-image: url("{% static 'img/17 - Copy.jpg' %}");
        font-family: "Muli", sans-serif;
        -webkit-font-smoothing: antialiased !important;
        }
      
      </style>


</head>
<body>
    <a class="navbar-brand" href="{% url 'home' %}">MY LIBRARY </a>



    {% block content %}
    {% endblock %}
    




       
    <script src="{% static 'bootstrap/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/particles.min.js' %}" ></script>
    <script src="{% static 'script.js' %}"></script>
</body>



</html>